
@import "./bulmaOverwrites.scss";


.spinner-grow {
    width: 5rem !important;
    height: 5rem !important;
}
.datetimepicker-dummy-wrapper{
    border-style: solid !important;
    border-width: 0.5px !important;
    border-color: #9aae04 !important;
    border-radius: 4px !important;
}
.datetimepicker-dummy-input{
    border-color:transparent !important;
}
.MuiAlert-outlinedError{
    border: transparent !important;
}
.MuiTableCell-head{
    text-align: left !important;
    z-index: 1 !important;
}

.MuiTableCell-root{
    text-align: left !important;
}

tbody tr {
    cursor: pointer;
}


#index_section{
    padding-top:20%;
    padding-left: 5%;
    padding-bottom:20%;
}
#main_index{
   
    width: 100%;
}
#secundary_index{
    margin: auto;
  
}
.sector_client{
    align:center;
    border-top: black;
}
.MuiChip-outlined{
    margin:1px;
}
#tableSector td{
    border: 0px solid transparent !important;
}
.card{
    border-radius: 15px !important;
}
button{
    margin-left:4px;
    margin-bottom:2%;
    text-transform: uppercase;
}
h1{
    font-size: 10vw;
    color:$black;
    text-transform: uppercase;
}

h2{
    font-size: 5vw;
    color:$black;
    text-transform: uppercase;
}

h3{
    font-size: 2vw;
    color:$black;
    text-transform: uppercase;
}
p{
    margin-top: 5%;
}
.modal{
    color: $beige-lighter;
}
.error_text{
    color:$danger;
    margin: 5px;
}
.modal-title{
    font-size: 5vw;
    color:white;
    text-transform: uppercase;
}
.validation{
    color: red;
    text-align: center;
}
.label{
    font-size: 2vw;
    text-transform: uppercase;
}
.is-centered{
    text-align: center;
}
.loginError{
    text-align: center;
    color: white;
    font-size: 1.5vw;
}

a:hover{
    //color:$purple;
}
.link-to-section{
    
    animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    font-size: 3vw;
}


.background_page{
    //background-color: #efefef;
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 45%);
}
